<!--
  File Name: about.ejs
  Name: Ayyappa Dhulipalla
  Id: 301238302
  Date: 2nd October 2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!-- About me -->
<main class="container">
  <div class="jumbotron">
      <h1 class="display-4">About me</h1>
    <div class="post-container">
      <h3 class="post-title">Ayyappa Dhulipalla</h3>
      <div class="post-thumb"><img style="
          width: 200px;
          padding-bottom: 20px;
          padding-left: 10px;" src="/Assets/images/Photo.jpeg" /></div>
      <div class="post-content">
          <p> Uncovering the insights and trends behind the data with a clear
            objective in mind I am bringing out knowledge in Python
            programming and machine learning, Power BI Projects.Certified by
            Hacker rank in Python Programming. As IT Support Analyst in
            Chemical Industry with 4 years’ experience of overall. Expertise
            in managing a team. Well-Versed with business understanding and
            figuring out worth able solution to business problem </p>
          <br><br><br>
          <p>
              Please click <a href="/Content/Resume.pdf">here </a>to view my resume.
          </p>
      </div>
      
      
  </div>
    
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  