<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!--
  File Name: index.ejs
  Name: Ayyappa Dhulipalla
  Id: 301238302
  Date: 2nd October 2022
-->

  <!-- Introduction and Mission statement -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello</h1>
      <br>
      You can find about me <a href="/about"> here. </a>
      <br>
      <br>
      <br>
      <h3>Mission statement</h3>
      <p>To acquire knowledge that I can use in the workforce and in my daily life to better myself and the world around me.
      </p>

      <p>In my software development team, I communicate clearly and proactively. I thrive for consistency and integrity of the creations of my team.</p>

        <p>To build a network of like-minded individuals with a passion for learning.
        </p>

          <p>Pursuing an education will help me open doors as well as open my mind to new possibilities.
          </p>

            <p>To discover my passion and where my skills are best suited.
            </p>
          </div>
  </main>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




