<!--
  File Name: projects.ejs
  Name: Ayyappa Dhulipalla
  Id: 301238302
  Date: 2nd October 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Projects that I have done -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">My Projects</h1>
      
      <p>
        Below are the projects that I have worked in my career.
      </p>
      <h2>Project 1</h2>
      <h3>Chemical Intermediates Business Dashboard</h3>
      <p>The main idea for the implementation of the Chemical Intermediates Business dashboard with Power BI for easy understanding of Chemical intermediates Business and improving the performance.</p>
      <br>
      <h2>Project 2</h2>
      <h3>Impact of Sentiments Of News Articles On Predicting Stock Price</h3>
      <p>The main idea for the implementation of the predicting stock price with Sentiments of news articles to make the prediction more accurate.</p>
      <br>
      <h2>Project 3</h2>
      <h3>Working on No-Sql Mongo DB And Connecting With Python</h3>
      <p>The implementation of the system provided opportunities to improve availability and partitioning of data. The system provided benefits to accessing of the data and working on data using widely used language python.</p>
      <br>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  