<!--
  File Name: services.ejs
  Name: Ayyappa Dhulipalla
  Id: 301238302
  Date: 2nd October 2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!--My Services Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Services</h1>
      <div>
      <p>I have worked on below technologies</p>
      <ul>
        <li>Pandas</li>
        <li>SAP Basis</li>
        <li>NumPy</li>
        <li>UC4</li>
        <li>Matplotlib</li>
        <li>Tensor flow</li>
      </ul>
    </div>
      
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  